.left {
  width: 20%;

  height: 100vh;
  position: fixed;
}
.top-logo {
  padding-top: 50px;
  height: 100px;
  padding-left: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.list {
  padding: 24px;
  padding-left: 18px;
  position: relative;
}
.list-elements {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.list-elements:hover {
  background-color: rgb(233, 221, 221);
  border-radius: 10px;
}

.list-elements .top {
  margin-top: 0;
}
.list-icons {
  padding: 10px;
}
.list-icons ion-icon {
  height: 28px;
  width: 28px;
}

.list-titles .home {
  font-weight: bold;
}
.IconNo {
  color: red;
  font-weight: bold;
  font-size: small;
  position: absolute;
  margin-left: -5px;
}
.profile-img {
  height: 30px;
  width: 30px;
  border-radius: 20px;
}
.list-elements {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
}
.menu-Box{
  position: absolute;
 
  height: 150px;
  width: 200px;
  background-color: #706c6c;
  bottom: 0;
  margin-left: 50px;
  border-radius: 10px;
  padding: 10px;
  padding-top: 20px;
}

.menu-Sub{
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  padding-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-Sub:hover {
  background-color: rgb(233, 221, 221);
  border-radius: 10px;
}
.close-Box ion-icon{
  height: 15px !important;
  width: 15px !important;
  position: absolute;
  right: 10px;
  top: 5px;
}